## Basic Operations

In [1]:
import findspark

In [2]:
findspark.init('/opt/spark')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

23/05/28 08:57:07 WARN Utils: Your hostname, zack-virtual-machine resolves to a loopback address: 127.0.1.1; using 192.168.40.128 instead (on interface ens33)
23/05/28 08:57:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/28 08:57:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Schema Part

In [6]:
df = spark.read.json('people.json')

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [10]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [14]:
# TRue stands for the value can be true
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [16]:
final_struc = StructType(fields = data_schema)

In [18]:
df = spark.read.json('people.json',schema = final_struc)

In [19]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Rows and Columns

In [25]:
type(df['age'])

pyspark.sql.column.Column

In [38]:
# return a dataframe object
df['age']

Column<'age'>

In [26]:
# return a dataframe with a single column
df.select('age')

DataFrame[age: int]

In [29]:
# to see that single column 
df.select('age').show()
type(df.select('age'))

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

pyspark.sql.dataframe.DataFrame

In [34]:
# return a list of row object
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [36]:
type(df.head(2))

list

In [31]:
# specify row object
df.head(2)[0]

Row(age=None, name='Michael')

In [32]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [33]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [39]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
#add a new column
df.withColumn('newage',df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [41]:
# the above change is not saved to original df, this is not a inplace operation, so u need to save to a new variable
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
# rename column 
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [46]:
#register as a sql temperory view
df.createOrReplaceTempView('people')

In [47]:
results = spark.sql("SELECT * FROM people")

In [48]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+